<div id="dropDownContainer">
    <div id="dayContainer">
        <label>Appointment</label>
        <input id="calendarPick" type="datetime-local">
        <button id="claimButton">Claim appointment</button>
    </div>
</div>