<nav id="navBar">
    <div class="navLink" data-link="Home">
        
            <p>Home</p>
        
    </div>
    <div class="navLink" data-link="Hairstyle">
        
            <p>Hairstyles</p>
        
    </div>
    <div class="navLink" data-link="Book">
        
            <p>
                Book Appointment
            </p>
        

    </div>
    <div class="navLink" data-link="Boutique">
        
            <p>Boutique</p>
        
    </div>
    

</nav>
